div.view-frame(ng-controller='newsCtrl')
  div.jumbotron
    h1 Hello, world!
    p Angular Test
    p
      a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
  div.jumbotron
    h1 Watch today
    p Head to the Furture
    p
      a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
  div.jumbotron
    h1 Subway
    p Duang! Duang!
    p
      a.btn.btn-primary.btn-lg(href='#' role='button') Learn more