div.view-frame(ng-controller='snakeCtrl')
  h1 Gluttonous Snake
  div.row
    div.col-md-10
      canvas#can.snake-canvas(width='400'  height='400')
    div.col-md-2
      button#btn-start.btn.btn-lg.btn-primary.btn-block(type='button' ng-click='start()')
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      button#btn-pause.btn.btn-lg.btn-primary.btn-block(type='button' ng-click='togglePause()')
        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>