extends layout

block content
  div.container(ng-app='')
    div.row
      div.col-md-12
        h1= title
    div.row
      div.col-md-4
        p Name:
          input(type='text' ng-model='name')
      div.col-md-8
        p Welcome to #{title}
        p(ng-bind='name')
