extends layout

block content
  div.view-container()
    div.view-frame
      div.container
        div.row
          div.col-md-4
            ul.nav.nav-stacked
              li.active(role='presentation')
                a(href='#/news') News
              li(role='presentation')
                a(href='#') Angular Test
              li(role='presentation')
                a(href='#/snake') Snake
              li(role='presentation')
                a(href='#') Contract
          div.col-md-8(ng-view)
  script(data-main='/javascripts/main/index' src='/lib/requirejs/require.js' defer async='true')





