doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/stylesheets/main.css')
    script(type='text/javascript').
      var staticBaseUrl = location.origin;
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a.navbar-brand(href='#') #{title}
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Contact
    block content
    footer.blog-footer
      div.container
        div.row
          div.col-md-10
            p.text-muted Supported by Edmond
          div.col-md-2
            a.text-muted.record(href='http://www.miitbeian.gov.cn/') 沪ICP备14050214号-1
    a(href='http://zhanzhang.anquan.org/physical/report/?domain=www.edjjhome.com' name='qcFo964zIPEDXcUfmLT0pRSQj5TLuUPaigZPFToVF20Aa1EE12')
      img(height='47' src='http://zhanzhang.anquan.org/static/common/images/zhanzhang.png' alt='安全联盟站长平台')